$randomQuoteBlue: #011627;
$randomQuoteGreen: #41EAD4;
$randomQuoteGray: #EEEFED;
$montserrat: "Montserrat", sans-serif;

body {
  font-family: $montserrat;
}

.custom-navbar {
  background: $randomQuoteBlue;
  // padding-bottom: 20px;
  .custom-navbar-brand {
    font-size: 1.4em;
    color: $randomQuoteGray;
    font-weight: 300;
    font-style: italic;
    // text-align: center;
  }
}

main {
  .btn-custom {
    margin-top: 30px;
    background: $randomQuoteBlue;
    color: $randomQuoteGreen;
    font-weight: 600;
    padding: 10px 35px;
    border-radius: 7px;
    font-size: 1.3em;
    transition: 0.3s ease-in-out;
  }

  .btn-custom:hover {
    opacity: 0.85;
    color: $randomQuoteGreen;
    background: $randomQuoteBlue;
  }
}

.custom-bg {
  background: $randomQuoteBlue;
  border-radius: 7px;
  margin: 60px auto;
  max-width: 600px;
  padding: 40px 25px 30px 30px;
  position: relative;

  #left-quote {
    font-family: $montserrat;
    color: $randomQuoteGreen;
    font-weight: 600;
    font-size: 2.5em;
    position: absolute;
    top: 26px;
    left: 6px;
  }

  p {
    color: $randomQuoteGreen;
    font-weight: 600;
    font-size: 1.2em;
    text-indent: 25px;
    padding-bottom: 15px;
  }

  #credit-name {
    color: $randomQuoteGreen;
    font-size: 1em;
    text-transform: uppercase;
  }
}
/*===== MEDIA QUERIES =====*/
@media(min-width: 400px) {
  .custom-navbar {
    .custom-navbar-brand {
      font-size: 1.8em;
    }
  }
}
@media(min-width: 450px) {
  .custom-bg {
    #left-quote {
      top: 22px;
      left: 3px;
    }

    p {
      font-size: 1.5em;
    }

    #credit-name {
      font-size: 1.3em;
      text-align: right;
    }
  }
}
@media(min-width: 600px) {
  .custom-navbar {
    padding: 10px 0 15px 15px;

    .custom-navbar-brand {
      font-size: 2.6em;
      // text-align: left;
    }
  }

  main .btn-custom {
    font-size: 1.925em;
    margin-top: 50px;
  }

  .custom-bg {
    #left-quote {
      font-size: 3em;
      top: 15px;
      left: 2px;
    }

    p {
      font-size: 1.7em;
      padding-left: 10px;
    }

    #credit-name {
      font-size: 1.5em;
    }
  }
}
@media(min-width: 900px) {
  .custom-navbar {
    .custom-navbar-brand {
      font-size: 2.8em;
    }
  }
}
