body {
  font-family: "Montserrat", sans-serif;
}

.custom-navbar {
  background: #011627;
}

.custom-navbar .custom-navbar-brand {
  font-size: 1.4em;
  color: #EEEFED;
  font-weight: 400;
  font-style: italic;
}

main .btn-custom {
  margin-top: 30px;
  background: #011627;
  color: #41EAD4;
  font-weight: 600;
  padding: 10px 35px;
  border-radius: 7px;
  font-size: 1.3em;
  transition: 0.3s ease-in-out;
}

main .btn-custom:hover {
  opacity: 0.85;
  color: #41EAD4;
  background: #011627;
}

.custom-bg {
  background: #011627;
  border-radius: 7px;
  margin: 60px auto;
  max-width: 600px;
  padding: 30px 25px 10px 30px;
  position: relative;
}

.custom-bg #left-quote {
  font-family: "Montserrat", sans-serif;
  color: #41EAD4;
  font-weight: 600;
  font-size: 2.5em;
  position: absolute;
  top: 15px;
  left: 6px;
}

.custom-bg #quote-text {
  color: #41EAD4;
  font-weight: 600;
  font-size: 1.2em;
  text-indent: 15px;
  margin-bottom: 12px;
}

.custom-bg #quote-author {
  color: #41EAD4;
  font-size: 1em;
  text-transform: uppercase;
}

.custom-bg #tweet {
  color: #41EAD4;
}

.custom-bg .custom-size {
  font-size: 2.5em;
}

.custom-bg .custom-size:hover {
  opacity: 0.75;
}

/*===== MEDIA QUERIES =====*/
@media (min-width: 450px) {
  .custom-navbar .custom-navbar-brand {
    font-size: 1.7em;
  }
  .custom-bg #left-quote {
    top: 14px;
    left: 2px;
  }
  .custom-bg #quote-text {
    font-size: 1.5em;
    text-indent: 25px;
  }
  .custom-bg #quote-author {
    font-size: 1.3em;
    text-align: right;
  }
  .custom-bg .custom-size {
    font-size: 3em;
  }
}

@media (min-width: 600px) {
  .custom-navbar {
    padding: 10px 0 15px 15px;
  }
  .custom-navbar .custom-navbar-brand {
    font-size: 2.8em;
  }
  main .btn-custom {
    font-size: 1.925em;
    margin-top: 50px;
  }
  .custom-bg #left-quote {
    font-size: 3em;
    top: 7px;
  }
  .custom-bg #quote-text {
    font-size: 1.7em;
    padding-left: 10px;
  }
  .custom-bg #quote-author {
    font-size: 1.5em;
    padding-top: 10px;
  }
  .custom-bg .custom-size {
    font-size: 3.5em;
  }
}
