$randomQuoteBlue: #011627;
$randomQuoteGreen: #41EAD4;
$randomQuoteGray: #EEEFED;
$montserrat: "Montserrat", sans-serif;

body {
  font-family: $montserrat;
}

.custom-navbar {
  background: $randomQuoteBlue;

  .custom-navbar-brand {
    font-size: 1.4em;
    color: $randomQuoteGray;
    font-weight: 400;
    font-style: italic;
  }
}

main {
  .btn-custom {
    margin-top: 30px;
    background: $randomQuoteBlue;
    color: $randomQuoteGreen;
    font-weight: 600;
    padding: 10px 35px;
    border-radius: 7px;
    font-size: 1.3em;
    transition: 0.3s ease-in-out;
  }

  .btn-custom:hover {
    opacity: 0.85;
    color: $randomQuoteGreen;
    background: $randomQuoteBlue;
  }
}

.custom-bg {
  background: $randomQuoteBlue;
  border-radius: 7px;
  margin: 60px auto;
  max-width: 600px;
  padding: 30px 25px 10px 30px;
  position: relative;

  #left-quote {
    font-family: $montserrat;
    color: $randomQuoteGreen;
    font-weight: 600;
    font-size: 2.5em;
    position: absolute;
    top: 15px;
    left: 6px;
  }

  #quote-text {
    color: $randomQuoteGreen;
    font-weight: 600;
    font-size: 1.2em;
    text-indent: 15px;
    margin-bottom: 12px;
  }

  #quote-author {
    color: $randomQuoteGreen;
    font-size: 1em;
    text-transform: uppercase;
  }

  #tweet {
    color: $randomQuoteGreen;
    transition: 0.3s ease-in-out;
  }

  #tweet:hover {
    opacity: 0.75;
  }

  .custom-size {
    font-size: 2.5em;
  }
}
/*===== MEDIA QUERIES =====*/
@media(min-width: 450px) {
  .custom-navbar {
    .custom-navbar-brand {
      font-size: 1.7em;
    }
  }

  .custom-bg {
    #left-quote {
      top: 14px;
      left: 2px;
    }

    #quote-text {
      font-size: 1.5em;
      text-indent: 25px;
    }

    #quote-author {
      font-size: 1.3em;
      text-align: right;
    }

    .custom-size {
      font-size: 3em;
    }
  }
}
@media(min-width: 600px) {
  .custom-navbar {
    padding: 10px 0 15px 15px;

    .custom-navbar-brand {
      font-size: 2.8em;
    }
  }

  main {
    .btn-custom {
      font-size: 1.925em;
      margin-top: 50px;
    }
  }

  .custom-bg {
    #left-quote {
      font-size: 3em;
      top: 7px;
    }

    #quote-text {
      font-size: 1.7em;
      padding-left: 10px;
    }

    #quote-author {
      font-size: 1.5em;
      padding-top: 10px;
    }

    .custom-size {
      font-size: 3.5em;
    }
  }
}
